---
layout: default
---

<div class="frontpage">
  <div class="posts">
    <h1>Últimas Publicaciones</h1>
    <article class="post">
      <span class="date">25 de agosto de 2018</span>
      <h2><a href="https://dev.to/egrajeda/my-python-serverless-setup-ca1">My Python Serverless Setup</a></h2>

      <div class="entry">
        A brief introduction on how I structure my Serverless projects.
      </div>
    </article>
    {% for post in site.posts %}
      <article class="post">
        <span class="date">{{ post.date | date: "%-d" }} de {% include function.translate_month_of date=post.date %} de {{ post.date | date: "%Y" }}</span>
        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

        <div class="entry">
          {{ post.excerpt }}
        </div>
      </article>
    {% endfor %}
  </div>

  <div class="bookmarks">
    <h1>Últimos Enlaces</h1>
    <div id="bookmarks"
         data-feed="https://pinboard-api.now.sh/json/u:egrajeda/"
         data-loading-gif="images/heart.gif">
    </div>
  </div>
</div>
