---
layout: default
---

<div class="frontpage">
  <div class="posts">
    {% for post in site.posts %}
      <article class="post">
        <span class="date">{{ post.date | date: "%-d" }} de {% include function.translate_month_of date=post.date %} de {{ post.date | date: "%Y" }}</span>
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

        <div class="entry">
          {{ post.excerpt }}
        </div>
      </article>
    {% endfor %}
  </div>

  <div class="activity">
    {% for event in site.data.activity %}
      {% assign date = event.date | date: "%Y%m" %}
      {% if date != last_date %}
        <span class="date">{% include function.translate_month_of date=event.date %} {{ event.date | date: "%Y" }}</span>
        {% assign last_date = date %}
      {% endif %}
      <div class="event">
        {% if event.service == "pinboard" %}
          <a href="{{ event.url }}" target="_blank">{{ event.title }}</a> fue agregado a la colección de enlaces.
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
