---
---

@import "bootstrap/bootstrap";
@import "pastie.css";

h1, h2, h3, .egb-nav a, .egb-posted-on, .egb-updated-on {
  font-family: "Roboto Condensed"; // TODO: correct way to overwrite
}

h1, .egb-nav a {
  text-transform: uppercase;
}

h1 {
  font-size: 30px;
  @extend .mb-3;
}

h2 {
  font-size: 22px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

h1 > code, h2 > code, h3 > code {
  color: inherit !important;
}

figure.highlight, div.highlight {
  @extend .mb-3;
  background-color: #f8f9fe;

  pre {
    @extend .p-2;
    @extend .m-0;
    background-color: #f8f9fe;
  }

  code {
    @extend .p-0;
  }
}

code {
  @extend .p-1;
  @extend .text-dark;
  background-color: #f8f9fe;
}

hr.small {
  width: 20%;
  margin: 25px auto;
}

.egb-index-page, .egb-site-header {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 0;

    a {
      @extend .text-dark;
    }
  }
}

.egb-site-header {
  background-color: #f8f9fe;

  h1 {
    font-family: inherit;
    text-transform: inherit;
  }
}

a.egb-nav-selected {
  background-color: #f36d60;
  color: white !important;

  &:hover {
    color: white !important;
    text-decoration: none;
  }
}

.egb-posted-on, .egb-updated-on {
  font-size: 14px;

  span {
    color: #f36d60;
  }
}

.egb-currently-reading {
  img {
    max-height: 145px;
  }

  p {
    height: 120px;
    overflow: hidden;
  }
}

.egb-post {
  h1, h2, h3 {
    clear: both;
  }

  h2 {
    @extend .mt-4;
  }

  img {
    @extend .img-fluid;

    &.float-left {
      @extend .mb-3;
      @extend .mr-3;
    }
  }
}

.collapsable {
  &.collapsed pre {
    max-height: 325px;
    overflow: hidden;
  }

  a.expand, a.collapse {
    @extend .p-1;
    @extend .pl-2;
    display: block;
    font-size: 14px;
    background-color: #eff0f5;
  }

  a.expand {
    display: none;
  }

  a.collapse {
    display: block;
  }

  &.collapsed {
    a.expand {
      display: block;
    }

    a.collapse {
      display: none;
    }
  }
}
