---
---

@import "bootstrap/bootstrap";

$serif: "Zilla Slab";
$monospace: "Fira Code";

$primary: rgba(0, 0, 0, 0.9);
$secondary: rgba(0, 0, 0, 0.4);
$border: rgba(0, 0, 0, 0.1);
$link: blue;

$highlight1: #c42c1f;
$highlight2: #f8f9fe;
$highlight3: #fcf8e3;

body {
    color: $primary;
    font-family: $serif;
    font-size: 18px;
}

h1, h2, h3 {
    font-size: 20px;
    font-weight: bold;
}

h1 {
    @extend .pb-3;
    color: $highlight1;
    border-bottom: 1px solid $border;
}

h2, h3 {
    margin-bottom: 0;
}

a, a:hover {
    color: $link;
    text-decoration: underline;
}

pre, code, kbd {
    font-family: $monospace;
    font-size: 14px;
}

// Front page
.egb-site-header {
    background-color: $highlight2;

    h1 {
        @extend .pb-0;
        margin-bottom: 0;
        border-bottom: 0;
    }
}

.egb-posted-on, .egb-updated-on {
    color: $secondary;
}

a.egb-nav-selected {
    background-color: $link;
    color: $highlight2;
}

.egb-currently-reading > div, .egb-latest-bookmarks > div {
    @extend .mb-3;
    height: 190px;
    overflow: hidden;

		img {
        @extend .mr-2;
        float: left;
				height: 185px;
		}
}

// Code
@import "pastie.css";

code {
    @extend .p-1;
    color: $primary;
    background-color: $highlight2;
}

figure.highlight, div.highlight {
		@extend .mb-3;
		background-color: $highlight2;

		pre {
				@extend .p-2;
				@extend .m-0;
				background-color: $highlight2;
		}

		code {
				@extend .p-0;
		}
}

// Post/Note
.egb-post {
		h1, h2, h3 {
				clear: both;
		}

		h2 {
        @extend .mt-4;
		}

		img {
				@extend .img-fluid;

				&.float-left {
						@extend .mb-3;
						@extend .mr-3;
				}
		}

		.alert {
				background-color: $highlight3;
		}

		// TODO: Remove me once I get rid of all the leads in the post and notes
		.lead {
				font-size: 18px;

				& + hr {
						display: none;
				}
		}
}

