<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700|Ubuntu+Mono' rel='stylesheet' type='text/css' />
  <link href='/css/syntax.css' rel='stylesheet' type='text/css'>
  <link href='/css/style.css' rel='stylesheet' type='text/css'>
  <title>Eduardo Grajeda Blandón</title>
</head>
<body>
  <div class="header">
    <a href="/">Eduardo Grajeda Blandón</a>
  </div>
  <div class="content">
    {{ content }}
  </div>
</body>
</html>
